.vscode/
data/
models/
backup/
 __pycache__/
 *.pyc

src/spatiotemporal_builder/.github

src/__pycache__/globals.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-38.pyc
src/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/near_stations.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/goes16_utils.cpython-310.pyc
nohup.out
src/__pycache__/
src/__pycache__/
*.out
*.gif
*.png
*.nc
*.parquet
*.log
src/spatiotemporal_builder/__pycache__/
src/spatiotemporal_builder/features/
anim/dF_dt_2024_01_13/animation.mp4
notebooks/GPM/imerg_animation_2024_01_01.mp4
notebooks/GPM/imerg_rio_animation.mp4
notebooks/GPM/imerg_rio_animation_2024_01_01.mp4
anim/PN_GLM/animation.mp4
notebooks/RJ-30m-DEM.tif
